In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
sensitive_areas = gpd.read_file('Sensitive Areas Processed.csv')

In [4]:
sensitive_areas.head()

,Name,Type,Latitude,Longitude,geometry
0,"CENTENNIAL COLLEGE, ASHTONBEE CAMPUS",Education,43.73070998,-79.28978994,None
1,"CENTENNIAL COLLEGE, CARLAW CAMPUS",Education,43.68465985,-79.34886383,None
2,"CENTENNIAL COLLEGE, MIDLAND CAMPUS",Education,43.7523045,-79.26565895,None
3,"CENTENNIAL COLLEGE, MORNINGSIDE CAMPUS",Education,43.78660651,-79.19292513,None
4,"CENTENNIAL COLLEGE, PROGRESS CAMPUS",Education,43.78527327,-79.22702962,None

In [5]:
#convert dataframe headers to lowercase
sensitive_areas.columns = [s.lower() for s in sensitive_areas.columns]

In [10]:
#adding geometries from latitude and longitude
sensitive_areas['geometry'] = gpd.points_from_xy(x=sensitive_areas.latitude,y=sensitive_areas.longitude,crs='EPSG:4326')

In [11]:
#create hex cells for sensitive areas

#create coordinate column
#sensitive_areas['coordinates'] = sensitive_areas['latitude'].astype('str') + ',' + sensitive_areas['longitude'].astype('str')

#then we define the function to get h3 hex cells from coordinates data
#def get_hex_cell(coordinates):
    a = float(coordinates.split(',')[0])
    b = float(coordinates.split(',')[1])
    return h3.latlng_to_cell(a,b,res=10)

#finally, create a new column for hex cells by applying the function on coordinates column
#sensitive_areas['hex_cell'] = sensitive_areas['coordinates'].apply(get_hex_cell)

IndentationError: unexpected indent (1129086859.py, line 8)

In [12]:
#checking for new column
sensitive_areas.head()

,name,type,latitude,longitude,geometry
0,"CENTENNIAL COLLEGE, ASHTONBEE CAMPUS",Education,43.73070998,-79.28978994,POINT (43.73071 -79.28979)
1,"CENTENNIAL COLLEGE, CARLAW CAMPUS",Education,43.68465985,-79.34886383,POINT (43.68466 -79.34886)
2,"CENTENNIAL COLLEGE, MIDLAND CAMPUS",Education,43.7523045,-79.26565895,POINT (43.75230 -79.26566)
3,"CENTENNIAL COLLEGE, MORNINGSIDE CAMPUS",Education,43.78660651,-79.19292513,POINT (43.78661 -79.19293)
4,"CENTENNIAL COLLEGE, PROGRESS CAMPUS",Education,43.78527327,-79.22702962,POINT (43.78527 -79.22703)

In [15]:
#adding column to flag sensitive areas = 'Yes'
sensitive_areas['sensitive_zone'] = 'Yes'

In [16]:
#adding prefix for columns
sensitive_areas.columns = ['sensitive_zone_' + s if s != 'geometry' else s for s in sensitive_areas.columns]

In [17]:
sensitive_areas.to_file('sensitive_areas_processed_final.geojson', driver='GeoJSON')