In [1]:
import pandas as pd
import numpy as np
import h3

In [3]:
sensitive_areas = pd.read_csv('Sensitive Areas Processed.csv')

In [4]:
sensitive_areas.head()

                                     Name       Type   Latitude  Longitude
0    CENTENNIAL COLLEGE, ASHTONBEE CAMPUS  Education  43.730710 -79.289790
1       CENTENNIAL COLLEGE, CARLAW CAMPUS  Education  43.684660 -79.348864
2      CENTENNIAL COLLEGE, MIDLAND CAMPUS  Education  43.752305 -79.265659
3  CENTENNIAL COLLEGE, MORNINGSIDE CAMPUS  Education  43.786607 -79.192925
4     CENTENNIAL COLLEGE, PROGRESS CAMPUS  Education  43.785273 -79.227030

In [5]:
#convert dataframe headers to lowercase
sensitive_areas.columns = [s.lower() for s in sensitive_areas.columns]

In [6]:
#create hex cells for sensitive areas

#create coordinate column
sensitive_areas['coordinates'] = sensitive_areas['latitude'].astype('str') + ',' + sensitive_areas['longitude'].astype('str')

#then we define the function to get h3 hex cells from coordinates data
def get_hex_cell(coordinates):
    a = float(coordinates.split(',')[0])
    b = float(coordinates.split(',')[1])
    return h3.latlng_to_cell(a,b,res=10)

#finally, create a new column for hex cells by applying the function on coordinates column
sensitive_areas['hex_cell'] = sensitive_areas['coordinates'].apply(get_hex_cell)

In [7]:
#checking for new column
sensitive_areas.head()

,name,type,latitude,longitude,coordinates,hex_cell
0,"CENTENNIAL COLLEGE, ASHTONBEE CAMPUS",Education,43.730710,-79.289790,"43.73070998,-79.28978994",8a2b9bd5db17fff
1,"CENTENNIAL COLLEGE, CARLAW CAMPUS",Education,43.684660,-79.348864,"43.68465985,-79.34886383",8a2b9bc75a17fff
2,"CENTENNIAL COLLEGE, MIDLAND CAMPUS",Education,43.752305,-79.265659,"43.7523045,-79.26565895",8a2b9bd41477fff
3,"CENTENNIAL COLLEGE, MORNINGSIDE CAMPUS",Education,43.786607,-79.192925,"43.78660651,-79.19292513",8a2b9bd61357fff
4,"CENTENNIAL COLLEGE, PROGRESS CAMPUS",Education,43.785273,-79.227030,"43.78527327,-79.22702962",8a2b9bd63237fff

In [8]:
#save the dataframe as csv
sensitive_areas.to_csv('Sensitive Areas Processed Final.csv')