In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import keplergl
#from keplergl import KeplerGL
import matplotlib as plt
import plotly.express as px
import h3
import shapely
from geopandas import GeoDataFrame,GeoSeries
import folium
import matplotlib
%matplotlib inline

# Pedestrian Crossover

In [2]:
#read in data
pedestrian_crossover = gpd.read_file('Pedestrian Crossover.geojson')

In [3]:
#convert column names to lowercase
pedestrian_crossover.columns = [s.strip().lower() for s in pedestrian_crossover.columns]

In [4]:
#drop unneccesary columns
pedestrian_crossover = pedestrian_crossover.drop(columns=['px','midblock_route','side2_street','private_access','additional_info','objectid','geo_id','node_id','mi_prinx'])

In [5]:
#rename id column
pedestrian_crossover.rename(columns={'_id':'id'},inplace=True)

In [6]:
#check remaning columns
pedestrian_crossover.columns

Index(['id', 'main_street', 'side1_street', 'geometry'], dtype='object')

In [7]:
#check remainig dataframe
pedestrian_crossover.head()

   id    main_street    side1_street                         geometry
0   1    BATHURST ST      COLLEGE ST  MULTIPOINT (-79.40820 43.65771)
1   2    BATHURST ST    SCADDING CRT  MULTIPOINT (-79.40560 43.65127)
2   3  ANGLESEY BLVD    HARTFIELD RD  MULTIPOINT (-79.52851 43.66460)
3   4    BAYVIEW AVE  PARKHURST BLVD  MULTIPOINT (-79.37634 43.70870)
4   5     ANNETTE ST        DURIE ST  MULTIPOINT (-79.48257 43.65949)

In [8]:
#using the geopandas explode() function to convert the multiline geometry to single line point geometry
pedestrian_crossover_exploded = pedestrian_crossover.explode()

C:\Users\arara\AppData\Local\Temp\ipykernel_44436\3836950908.py:2: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  pedestrian_crossover_exploded = pedestrian_crossover.explode()

In [9]:
#extract latitude and longitudes from single line geometry
pedestrian_crossover_exploded['latitude'] = pedestrian_crossover_exploded.apply(lambda x: x.geometry.y, axis=1)
pedestrian_crossover_exploded['longitude'] = pedestrian_crossover_exploded.apply(lambda x: x.geometry.x, axis=1)

In [10]:
#checking new columns in dataframe
pedestrian_crossover_exploded.head()

,,id,main_street,side1_street,geometry,latitude,longitude
0,0,1,BATHURST ST,COLLEGE ST,POINT (-79.40820 43.65771),43.657710,-79.408200
1,0,2,BATHURST ST,SCADDING CRT,POINT (-79.40560 43.65127),43.651267,-79.405604
2,0,3,ANGLESEY BLVD,HARTFIELD RD,POINT (-79.52851 43.66460),43.664597,-79.528512
3,0,4,BAYVIEW AVE,PARKHURST BLVD,POINT (-79.37634 43.70870),43.708704,-79.376338
4,0,5,ANNETTE ST,DURIE ST,POINT (-79.48257 43.65949),43.659494,-79.482574

In [11]:
#combining latitude and longitudes to form coordinates column
pedestrian_crossover_exploded['coordinates'] = pedestrian_crossover_exploded.apply(lambda x: (x.latitude, x.longitude), axis=1)

In [12]:
#check dataframe
pedestrian_crossover_exploded.head()

,,id,main_street,side1_street,geometry,latitude,longitude,coordinates
0,0,1,BATHURST ST,COLLEGE ST,POINT (-79.40820 43.65771),43.657710,-79.408200,"(43.6577100019432, -79.40819999547631)"
1,0,2,BATHURST ST,SCADDING CRT,POINT (-79.40560 43.65127),43.651267,-79.405604,"(43.6512669957427, -79.4056040041994)"
2,0,3,ANGLESEY BLVD,HARTFIELD RD,POINT (-79.52851 43.66460),43.664597,-79.528512,"(43.66459700173547, -79.52851199795252)"
3,0,4,BAYVIEW AVE,PARKHURST BLVD,POINT (-79.37634 43.70870),43.708704,-79.376338,"(43.708703999703154, -79.3763379938911)"
4,0,5,ANNETTE ST,DURIE ST,POINT (-79.48257 43.65949),43.659494,-79.482574,"(43.65949400063825, -79.48257400128824)"

In [13]:
#create hex cells for pedestrian crossings

#create coordinate column
#pedestrian_crossover_exploded['coordinates'] = pedestrian_crossover_exploded['latitude'].astype('str') + ',' + pedestrian_crossover_exploded['longitude'].astype('str')

#then we define the function to get h3 hex cells from coordinates data
def get_hex_cell(coordinates):
    #a = float(coordinates.split(',')[0])
    #b = float(coordinates.split(',')[1])
    a = coordinates[0]
    b = coordinates[1]
    return h3.latlng_to_cell(a,b,res=10)

#finally, create a new column for hex cells by applying the function on coordinates column
pedestrian_crossover_exploded['hex_cell'] = pedestrian_crossover_exploded['coordinates'].apply(get_hex_cell)

In [14]:
#check new hex cell column
pedestrian_crossover_exploded.head()

,,id,main_street,side1_street,geometry,latitude,longitude,coordinates,hex_cell
0,0,1,BATHURST ST,COLLEGE ST,POINT (-79.40820 43.65771),43.657710,-79.408200,"(43.6577100019432, -79.40819999547631)",8a2b9bc7375ffff
1,0,2,BATHURST ST,SCADDING CRT,POINT (-79.40560 43.65127),43.651267,-79.405604,"(43.6512669957427, -79.4056040041994)",8a2b9bc55957fff
2,0,3,ANGLESEY BLVD,HARTFIELD RD,POINT (-79.52851 43.66460),43.664597,-79.528512,"(43.66459700173547, -79.52851199795252)",8a2b9bce0d67fff
3,0,4,BAYVIEW AVE,PARKHURST BLVD,POINT (-79.37634 43.70870),43.708704,-79.376338,"(43.708703999703154, -79.3763379938911)",8a2b9bc74137fff
4,0,5,ANNETTE ST,DURIE ST,POINT (-79.48257 43.65949),43.659494,-79.482574,"(43.65949400063825, -79.48257400128824)",8a2b9bc5648ffff

In [16]:
#saving dataframe as csv
pedestrian_crossover_exploded.to_csv('pedestrian_crossover_h3.csv')

# Traffic Signals

In [56]:
#reading in data
traffic_signals = gpd.read_file('Traffic Signal.geojson')

In [57]:
#convert column headers to lowercase
traffic_signals.columns = [s.strip().lower() for s in traffic_signals.columns]

In [58]:
traffic_signals.head()

,_id,px,main_street,midblock_route,side1_street,side2_street,private_access,additional_info,activationdate,signalsystem,...,mi_prinx,bicycle_signal,ups,led_blankout_sign,lpi_north_implementation_date,lpi_south_implementation_date,lpi_east_implementation_date,lpi_west_implementation_date,lpi_comment,geometry
0,1,0002,JARVIS ST,None,FRONT ST E,LOWER JARVIS ST,None,None,1948-11-15 05:00:00,TransSuite,...,1,0.0,0.0,0.0,2023-04-06T04:00:00,2023-04-06T04:00:00,2023-04-06T04:00:00,2023-04-06T04:00:00,None,MULTIPOINT (-79.37146 43.64945)
1,2,0003,KING ST E,None,JARVIS ST,None,None,None,1950-08-23 04:00:00,TransSuite,...,2,0.0,0.0,1.0,,,2021-06-23T04:00:00,2021-06-23T04:00:00,None,MULTIPOINT (-79.37191 43.65046)
2,3,0004,JARVIS ST,None,ADELAIDE ST E,None,None,None,1958-09-12 04:00:00,TransSuite,...,3,0.0,0.0,0.0,,,,,None,MULTIPOINT (-79.37237 43.65153)
3,4,0005,JARVIS ST,None,RICHMOND ST E,None,None,None,1962-04-21 04:00:00,TransSuite,...,4,0.0,1.0,0.0,2020-10-08T04:00:00,2020-10-08T04:00:00,,,None,MULTIPOINT (-79.37283 43.65270)
4,5,0006,JARVIS ST,None,QUEEN ST E,None,None,None,1928-08-24 04:00:00,TransSuite,...,5,0.0,0.0,0.0,2021-03-03T05:00:00,2021-03-03T05:00:00,2021-03-03T05:00:00,2021-03-03T05:00:00,None,MULTIPOINT (-79.37325 43.65373)

In [59]:
#rename id column
traffic_signals.rename(columns={'_id':'id'},inplace=True)

In [60]:
traffic_signals.columns

Index(['id', 'px', 'main_street', 'midblock_route', 'side1_street',
       'side2_street', 'private_access', 'additional_info', 'activationdate',
       'signalsystem', 'non_system', 'control_mode', 'pedwalkspeed',
       'aps_operation', 'numberofapproaches', 'objectid', 'geo_id', 'node_id',
       'audiblepedsignal', 'transit_preempt', 'fire_preempt', 'rail_preempt',
       'mi_prinx', 'bicycle_signal', 'ups', 'led_blankout_sign',
       'lpi_north_implementation_date', 'lpi_south_implementation_date',
       'lpi_east_implementation_date', 'lpi_west_implementation_date',
       'lpi_comment', 'geometry'],
      dtype='object')

In [61]:
#drop unneccesary columns
traffic_signals = traffic_signals.drop(columns=['px','midblock_route','side2_street','private_access','additional_info','activationdate','non_system','control_mode','pedwalkspeed','aps_operation'])

In [62]:
#drop more columns
traffic_signals.drop(traffic_signals.columns[4:-1],inplace=True,axis=1)

In [63]:
#check remaining columns
traffic_signals.columns

Index(['id', 'main_street', 'side1_street', 'signalsystem', 'geometry'], dtype='object')

In [64]:
#using the geopandas explode() function to convert the multiline geometry to single line point geometry
traffic_signals_exploded = traffic_signals.explode()

C:\Users\arara\AppData\Local\Temp\ipykernel_44436\3037800592.py:2: FutureWarning:

Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.

In [65]:
#extract latitude and longitudes from single line geometry
traffic_signals_exploded['latitude'] = traffic_signals_exploded.apply(lambda x: x.geometry.y, axis=1)
traffic_signals_exploded['longitude'] = traffic_signals_exploded.apply(lambda x: x.geometry.x, axis=1)

In [66]:
#combining latitude and longitudes to form coordinates column
traffic_signals_exploded['coordinates'] = traffic_signals_exploded.apply(lambda x: (x.latitude, x.longitude), axis=1)

In [67]:
#create hex cells for traffic

#create coordinate column
#pedestrian_crossover_exploded['coordinates'] = pedestrian_crossover_exploded['latitude'].astype('str') + ',' + pedestrian_crossover_exploded['longitude'].astype('str')

#then we define the function to get h3 hex cells from coordinates data
def get_hex_cell(coordinates):
    #a = float(coordinates.split(',')[0])
    #b = float(coordinates.split(',')[1])
    a = coordinates[0]
    b = coordinates[1]
    return h3.latlng_to_cell(a,b,res=10)

#finally, create a new column for hex cells by applying the function on coordinates column
traffic_signals_exploded['hex_cell'] = traffic_signals_exploded['coordinates'].apply(get_hex_cell)

In [ ]:
traffic_signals_exploded.set_index('id',inplace=True)

In [70]:
traffic_signals_exploded.head()

,main_street,side1_street,signalsystem,geometry,latitude,longitude,coordinates,hex_cell
id,,,,,,,,
1,JARVIS ST,FRONT ST E,TransSuite,POINT (-79.37146 43.64945),43.649450,-79.371464,"(43.64944999708736, -79.3714639959891)",8a2b9bc4686ffff
2,KING ST E,JARVIS ST,TransSuite,POINT (-79.37191 43.65046),43.650463,-79.371913,"(43.650463001136515, -79.3719129962965)",8a2b9bc46867fff
3,JARVIS ST,ADELAIDE ST E,TransSuite,POINT (-79.37237 43.65153),43.651527,-79.372365,"(43.65152699929593, -79.3723650028596)",8a2b9bc4695ffff
4,JARVIS ST,RICHMOND ST E,TransSuite,POINT (-79.37283 43.65270),43.652704,-79.372831,"(43.65270399605759, -79.37283099386956)",8a2b9bc46957fff
5,JARVIS ST,QUEEN ST E,TransSuite,POINT (-79.37325 43.65373),43.653729,-79.373254,"(43.653729000151515, -79.37325399423514)",8a2b9bc4690ffff

In [71]:
traffic_signals_exploded.to_csv('traffic_signals_h3.csv')

2023-07-30 21:13:56,777 - INFO     - Executing shutdown due to inactivity...
2023-07-30 21:14:04,988 - INFO     - Executing shutdown...
d:\Software\Anaconda\lib\site-packages\dtale\app.py:425: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.