In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import keplergl
#from keplergl import KeplerGL
import matplotlib as plt
import plotly.express as px
import h3

/Users/rakeenahmed/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [13]:
intersections_geo = pd.read_csv('intersections_geography.csv')
intersections_speed = pd.read_csv('geotabs_intersection_data.csv')

# Intersections_Geo

In [24]:
intersections_geo.head()

,intersectionid,streetnames,latitude,longitude,geometry
0,6616316147102890000,"[Renforth Drive,Rathburn Road]",43.651432,-79.579494,POINT (43.651 -79.579)
1,-8534197810312271000,[The East Mall],43.643129,-79.558390,POINT (43.643 -79.558)
2,1191814755289880000,"[Burnhamthorpe Road,The East Mall]",43.646285,-79.560003,POINT (43.646 -79.560)
3,-2457939225605610000,"[Kipling Avenue,Torlake Crescent]",43.611565,-79.522578,POINT (43.612 -79.523)
4,-2093932053484100000,"[The Queensway,Barclay Avenue]",43.623163,-79.516799,POINT (43.623 -79.517)

In [15]:
#converting column headers to lowercase
intersections_geo.columns = [s.strip().lower() for s in intersections_geo.columns]

In [16]:
#dropping unneccesary columns
intersections_geo = intersections_geo.drop(columns=['asofdate','iso_a3','iso_3166_2','country','state','stateid','county','countyid','city','cityid','entrycardinals','exitcardinals','entrystreets','exitstreets'])
intersections_geo.head()

,intersectionid,streetnames,latitude,longitude
0,6616316147102890000,"[Renforth Drive,Rathburn Road]",43.651432,-79.579494
1,-8534197810312271000,[The East Mall],43.643129,-79.558390
2,1191814755289880000,"[Burnhamthorpe Road,The East Mall]",43.646285,-79.560003
3,-2457939225605610000,"[Kipling Avenue,Torlake Crescent]",43.611565,-79.522578
4,-2093932053484100000,"[The Queensway,Barclay Avenue]",43.623163,-79.516799

In [17]:
#we want to convert the latitude and longitude values to h3 hex cells

#first, we need to combine the latitude and longitude values into a coordinates column
#intersections_geo['coordinates'] = intersections_geo['latitude'].astype('str') + ',' + intersections_geo['longitude'].astype('str')

#then we define the function to get h3 hex cells from coordinates data
#def get_hex_cell(coordinates):
    a = float(coordinates.split(',')[0])
    b = float(coordinates.split(',')[1])
    return h3.latlng_to_cell(a,b,res=10)

#finally, create a new column for hex cells by applying the function on coordinates column
#intersections_geo['hex_cell'] = intersections_geo['coordinates'].apply(get_hex_cell)

IndentationError: unexpected indent (107799904.py, line 8)

In [20]:
#adding geometry column from latitude and longitude using geopandas
intersections_geo['geometry'] = gpd.points_from_xy(y=intersections_geo['longitude'], x=intersections_geo['latitude'],crs='EPSG:3857')

In [22]:
intersections_geo.head()

,intersectionid,streetnames,latitude,longitude,geometry
0,6616316147102890000,"[Renforth Drive,Rathburn Road]",43.651432,-79.579494,POINT (43.651 -79.579)
1,-8534197810312271000,[The East Mall],43.643129,-79.558390,POINT (43.643 -79.558)
2,1191814755289880000,"[Burnhamthorpe Road,The East Mall]",43.646285,-79.560003,POINT (43.646 -79.560)
3,-2457939225605610000,"[Kipling Avenue,Torlake Crescent]",43.611565,-79.522578,POINT (43.612 -79.523)
4,-2093932053484100000,"[The Queensway,Barclay Avenue]",43.623163,-79.516799,POINT (43.623 -79.517)

# Intersections_Speed

In [26]:
intersections_speed.head()

,DateFrom,DateTo,AggregationPeriod,AggregationPeriodUnit,AggregationPeriodFrom,IntersectionId,PercentageStopping,AvgTravelSpeed,AvgRunningSpeed,AvgTotalTimeStopped
0,2021-02-28,2021-03-13,1,hour,00:00:00.000,-9218447023040957000,0.00,41.61,41.61,0.00
1,2021-02-28,2021-03-13,1,hour,01:00:00.000,-9218447023040957000,0.26,26.24,28.73,12.63
2,2021-02-28,2021-03-13,1,hour,02:00:00.000,-9218447023040957000,0.05,33.40,33.91,3.00
3,2021-02-28,2021-03-13,1,hour,03:00:00.000,-9218447023040957000,0.00,40.79,40.79,0.00
4,2021-02-28,2021-03-13,1,hour,04:00:00.000,-9218447023040957000,0.00,47.42,47.42,0.00

In [27]:
#convert column headers to lowercase
intersections_speed.columns = [s.strip().lower() for s in intersections_speed.columns]

In [28]:
#summary statistics for dataframe
intersections_speed.describe()

,aggregationperiod,intersectionid,percentagestopping,avgtravelspeed,avgrunningspeed,avgtotaltimestopped
count,223728.0,2.237280e+05,213656.000000,213656.000000,213656.000000,213656.000000
mean,1.0,-1.050393e+17,0.287942,35.649439,38.870269,9.547358
std,0.0,5.305332e+18,0.201158,10.990329,9.574697,9.941561
min,1.0,-9.218447e+18,0.000000,4.530000,9.500000,0.000000
25%,1.0,-4.663487e+18,0.120000,27.310000,31.600000,2.770000
50%,1.0,-1.108077e+17,0.270000,35.470000,38.980000,7.130000
75%,1.0,4.629088e+18,0.430000,43.760000,45.800000,13.060000
max,1.0,9.198831e+18,1.000000,95.560000,95.910000,138.750000

In [29]:
#creaeting a pivot table of median travel speed by intersection id
intersections_speed_pivot = pd.pivot_table(intersections_speed,values='avgtravelspeed',index='intersectionid',aggfunc='median')

In [30]:
intersections_speed_pivot

                      avgtravelspeed
intersectionid
-9218447023040957000          34.880
-9215297562714759000          21.840
-9214641861738066000          51.655
-9214351989209907000          48.870
-9213702318109059000          21.935
...                              ...
 9186244371263032000          24.325
 9190058573465266000          24.700
 9194870885070866000          28.025
 9197789686170951000          20.340
 9198830918651560000          35.410

[2371 rows x 1 columns]

# Merge dataframes

In [31]:
#merging the dataframes on common intersection id column
intersections_speed_processed = intersections_geo.merge(right=intersections_speed_pivot,how='inner',on='intersectionid')

In [32]:
intersections_speed_processed

,intersectionid,streetnames,latitude,longitude,geometry,avgtravelspeed
0,3389382494295200000,"[Old Weston Road,Davenport Road]",43.671047,-79.462342,POINT (43.671 -79.462),22.860
1,3389382494295200000,"[Old Weston Road,Davenport Road]",43.671047,-79.462342,POINT (43.671 -79.462),22.860
2,-6671466519926600000,"[Culford Road,Lawrence Avenue West]",43.706381,-79.487640,POINT (43.706 -79.488),36.190
3,-6671466519926600000,"[Culford Road,Lawrence Avenue West]",43.706381,-79.487640,POINT (43.706 -79.488),36.190
4,9140491979021230000,"[Wynford Drive,Wynford Heights Crescent,Concor...",43.727374,-79.327757,POINT (43.727 -79.328),21.105
...,...,...,...,...,...,...
251,-988121689216688000,"[Steeles Avenue West,Futurity Gate,Gerry Fitzg...",43.786170,-79.474730,POINT (43.786 -79.475),40.840
252,-7838963659130630000,[Birchmount Road],43.786601,-79.300638,POINT (43.787 -79.301),44.800
253,-7838963659130630000,[Birchmount Road],43.786601,-79.300638,POINT (43.787 -79.301),44.800
254,-8143630142906360000,"[Finch Avenue West,Milady Road]",43.747281,-79.564403,POINT (43.747 -79.564),25.890
255,-217500139751335000,"[Brooklawn Avenue,Kingston Road,St Clair Avenu...",43.721908,-79.236227,POINT (43.722 -79.236),35.740

In [33]:
#summary statistics for avg travel speed
intersections_speed_processed.avgtravelspeed.describe()

count    256.000000
mean      34.937246
std        9.507832
min       17.685000
25%       25.786250
50%       34.985000
75%       42.460000
max       54.720000
Name: avgtravelspeed, dtype: float64

In [37]:
intersections_speed_processed.avgtravelspeed.skew()

0.058758853136417565

In [38]:
intersections_speed_processed.columns = ['intersections_speed_' + s if s != 'geometry' else s for s in intersections_speed_processed.columns]

In [41]:
intersections_speed_processed.to_csv('intersections_speed_processed.csv')